<div
  data-controller="group-show"
  data-group-show-group-id="<%= @group.id %>"
>
  <h1 class="text-4xl font-bold text-center">Group</h1>

  <div
    class="flex flex-col items-center"
    data-group-show-target="info"
  >
    <div class="w-3/4">
      <p class="uppercase font-bold text-lg text-gray-800">Name</p>
      <p><%= @group.name %></p>
      <p class="uppercase font-bold text-lg text-gray-800">Created At</p>
      <p><%= @group.created_at.strftime('%m/%d/%Y %I:%M%p') %></p>
      <p class="uppercase font-bold text-lg text-gray-800">Actions</p>
      <%= link_to("Edit", edit_group_path(@group.id), class: "block font-sans text-sm antialiased font-medium leading-normal text-amber-400") %>
      <%= link_to("Delete", group_path(@group.id), method: :delete, class: "block font-sans text-sm antialiased font-medium leading-normal text-red-400") %>
    </div>
  </div>

  <div
    class="hidden w-full mt-2 space-x-3 max-w-xs"
    data-group-show-target="messageTemplate"
  >
    <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300 text-center leading-10"></div>
    <div>
      <div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">
        <p class="text-sm"></p>
      </div>
      <span class="text-xs text-gray-500 leading-none"></span>
    </div>
  </div>

  <div class="flex flex-col items-center relative md:rounded-md bg-white mb-10 p-2">
    <h2 class="text-2xl"><%= @group.name %></h2>

    <div class="flex flex-col items-center justify-center w-screen min-h-screen bg-gray-100 text-gray-800 p-10">
      <div class="flex flex-col flex-grow w-full max-w-xl bg-white shadow-xl rounded-lg overflow-hidden">
        <div
          class="flex flex-col flex-grow h-0 p-4 overflow-auto"
          data-group-show-target="chatLog"
        >
        </div>

        <div class="bg-gray-300 p-4">
          <input
            class="flex items-center h-10 w-full rounded px-3 text-sm"
            type="text"
            placeholder="Type your message…"
            data-group-show-target="chatInput"
          />
        </div>
      </div>
    </div>
  </div>
</div>
